html {
    position: relative;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin-bottom: 60px;
    background-color: antiquewhite;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

#bg-main {
    width: 100%;
}

#game-page {
}

#room-id {
}

#chat-message-box {
    height: 125px;
    padding: 5px;
    overflow-y: scroll;
}

#game-container-outer {
    max-width: calc(100vh - 150px);
    max-height: calc(100vh - 150px);
}

#content-col {
    padding-left: 0;
    padding-right: 0;
}

#red-outline {
    background-color: darkred;
    padding: 2%;
}

#second-yellow-outline {
    background-color: #f5cc5b;
    padding: 1%;
    height: 100%;
    display: block;
}

#maedn {
    background-color: #f5cc5b;
    position: absolute;
    width: 94%;
    height: 94%;
    border: 3px solid black;
}

#container-outer {
    display: inline;
}

#why {
    padding: 0;
}

#overlay {
    z-index: 99;
    height: 33%;
    top: 33%;
    font-size: 50px;
    font-weight: bold;
}

.card-subtitle {
    font-size: 30px;
    font-weight: normal;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0%{
        width: 10%;
        height: 10%;
        left: 45%;
        top: 45%;
    }
    50% {
        width: 12%;
        height: 12%;
        left: 44%;
        top: 44%;
    }
    100% {
        width: 10%;
        height: 10%;
        left: 45%;
        top: 45%;
    }
}

.pulsing {
    animation: pulse 0.75s infinite;
}

.rotating {
    animation: rotate 0.75s ease-in-out;
}
